* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home,
.main-section 
{
    background-color: #121212;
}
.home-active-icon path {
    fill: #ffffff; /* Change this to the color you want */
}
.search-icon{
    fill: #c7c7c7; /* Change this to the color you want */
}
.right-arrow-svg path {
    fill: rgb(254, 254, 254);
  }
.explore:hover
{
    background-color: #f5f5f5 !important;
    transform: scale(1.03) ;
}
.app:hover
{
    transform: scale(1.03) ;
}
.right-arrow-svg-round 
{
    fill: rgb(254, 254, 254);
    margin: 0px 3px;
}
.albums
{
    font-size: 14px;
}
.library
{
    fill: rgb(126, 126, 126);
}
.library
{
    color: rgb(126, 126, 126);
}
.recents
{
   
}
.Sort .Sort-by
{
    font-size: 11px;
}
.option:hover
{
     background-color: #c7c7c7;
}
.music
{
    font-size: 14px;
}