@media(max-width:1300px)
{
  .social , .social ul li a { display: none;} 
  
}


@media(max-width:1000px)
{
    .nav{
        display: none;
    }
}
@media(max-width:1500px)
 {  
   .nav2{
    display: none;
   }
}

@media(max-width:1000px)
{
    .nav2{
        display: flex;
    }
}
