@media(max-width:500px)
{
    .header .nav .infor .info,
    .header .nav .infor .navbar 
    {
        display: none;
    }
    .header .subnav
     {
       display: block;
       border: none;
    }
    .header .nav 
    {  
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }
    .header .slide .villa
    {
        display: none;
    }
    .header .slide 
    {
         background-size: contain;
         background-repeat: no-repeat; 
         background-position: top;
    }
    .header .slide .quick
    {  
        width: 100%;
        margin-left: 0px;
        margin-top: -200px;
    }
    .header .search 
    {
        grid-template-columns: 1fr 1fr;
        padding: 40px 28px;
    }
    .header .search .location .loc select,
    .header .search .property select,
    .header .search .pro select,
    .header .search .keyword select
    {
       padding: 10px 70px;
       margin: 5px 0px;
    }
    .header .search .location .loc input,
    .header .search .property input,
     .header .search .pro input,
    .header .search .keyword  input
    {
       padding: 10px 27px;
       margin: 5px 0px;
    }  
    .header .search .keyword .sea a
    {
        padding: 10px 73px;
        margin-left: 0px;
    }
    .look
    {
        
    }

}