*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      /* border: 2px solid; */
}
.header .nav
{
      display: grid;
      grid-template-columns: 300px 3fr;   
      background-color: #191c20;
}
.header .subnav 
{
      background-color: rgb(0, 0, 0);
       border: 2px solid;
      padding: 10px 10px;
      color: white;
      display: none;
}
.header .nav .logo
{
      /* display: grid; */
      text-align: center;
      /* width: 100%; */
}
.header .nav .logo .img
{  
      text-align: center;
      margin-top: 25px;
}
.header .nav .logo p
{
      text-align:center;
      margin-left: 40px;
      color: #737a84;
}
.header .nav .infor
{
      grid-template-rows: 1fr 1fr;
}
.header .nav .infor .info ul li
{
      display: inline;
       margin: 0px 10px;
      font-size: 14px;
      color: #737a84;
}
.header .nav .infor .info ul li i
{  
      margin-right: 10px;
}
.info
{    
      margin-top: 30px;
      color: white;
      text-align: right;
      margin-right: 50px;
}
.header .nav .infor .navbar
{   
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
      margin-top: 35px;
}
.header .nav .infor .navbar div
{
      padding: 15px;
      text-align: center;  
      color: white;
}

.header .nav .infor .navbar div:hover
{
      background-color: #50b848;
}
.header .nav .infor .navbar p
{
      color: white;
      padding: 15px 15px;
      color: #0DBAE8;
      font-size: 18px;
}
.header .slide
{    
      background: url(/img/slide-2.jpg);
      background-size:cover;
      background-position: center; 
}
.header .slide .under-slide 
{
      display: grid;
      justify-content: right;
      padding: 160px 0px;
}
.header .slide .villa
{   
      background-color: rgba(255,255,255,0.7);
      width: 80%;
      padding: 30px 20px ;
}
.header .slide .villa h3,
.header .slide .villa p
{  
      font-size: 15px;
      padding: 10px 5px;
}  
.header .slide .villa #p
{   
      color: #50b848;
      font-size: 21px;
}
.header .slide .villa #villa-p
{    
      /* font-size: 15px; */
       color: #929BA7;
}
.header .slide .villa p a
{
      font-size: 18px;
      padding: 8px 21px;
      color: white;
      text-decoration: none;
      background-color: #0dbae8;
}
.header .slide .quick
{   
      display: inline-block;
      margin-top: 60px;
      margin-left: 80px;
}
.header .slide .quick h3
{   
      background-color: #0dbae8;
      color: white;
      padding: 15px 30px;
} 
.header .search 
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 40px 100px;
      background-color: #dee7ee;
}
.header .search .location
{   
      display: grid;
      grid-template-rows: 1fr 1fr 1fr ;

}
.header .search .location .loc select,
.header .search .property select,
.header .search .pro select,
.header .search .keyword select
{
      padding: 10px 90px;
      margin: 5px 10px;
      border: none;
}
.header .search .location .loc input,
.header .search .property input,
.header .search .pro input,
.header .search .keyword  input
{
      padding: 10px 47px;
      font-size: 14px;
      margin: 5px 10px;
      border: none;

}
.header .search .keyword .sea a
{
      text-align: center;
      padding: 10px 93px;
      color: white;
      background-color: #191c20;
      text-decoration: none;
      margin-left: 11px;
   
}
.header .search .keyword .sea 
{
      margin-top:15px ;
}
.header .search .keyword .sea a:hover
{
      background-color:#0dbae8 ;
      transition: 0.2s;
}

.search .look
{ 
      margin-top: 20px;
      margin-left: 2px;
      display: inline;
}
.search .look i
{
      padding-right: 0px;
      padding-left: 5px;
}
.search .look a
{
      text-decoration: none;
      font-size: 15px;
      color: #4A525D;
}
.search .look a:hover
{
      color: black;
}
.section .deal .best
{
     width: 75%;
     text-align: center; 
     margin: 50px auto;
} 
.section .deal .best p
{
     font-size: 14px;
     margin-top: 20px;
}
.section .deal .home
{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     width: 85%;
     margin: auto;
     margin-bottom: 90px;
}
.section .deal .home .home-1,
.section .deal .home .home-2,
.section .deal .home .home-3
{
      width: 90%;
}
.section .deal .home .home-1 .merrick
{
      background: url(/img/property-1-850x570.jpg);
      height: 250px;
      width: 100%;
      background-position: center;
      background-size: cover;
}
/* .section .deal .home .home-1 .merrick:hover
{
   background: sc;
} */
.section .deal .home .home-2 .coral
{
      background: url(/img/property-12-850x570.jpg);
      height: 250px;
      width: 100%;
      background-position: center;
      background-size: cover;
}
.section .deal .home .home-3 .street
{
      background: url(/img/property-10-850x570.jpg);
      height: 250px;
      width: 100%;
      background-position: center;
      background-size: cover;
}
.section .deal .home .home-1 .one,
.section .deal .home .home-2 .one,
.section .deal .home .home-3 .one
{
     padding: 10px 25px;
     border: 1px solid rgb(206, 206, 206);
}
.section .deal .home .home-1 .one h2,
.section .deal .home .home-2 .one h2,
.section .deal .home .home-3 .one h2
{
      margin: 12px 0px;
}
.section .deal .home .home-1 .one h3,
.section .deal .home .home-2 .one h3,
.section .deal .home .home-3 .one h3
{ 
      color: #50B848;
}
.section .deal .home .home-1 .one p,

.section .deal .home .home-3 .one p
{
      font-size: 17px;
      margin: 15px 0px;
      color: #929BA7;
}
.section .deal .home .home-2 .one p
{
     font-size: 17px;
     margin: 15px 0px;
     color: #929BA7;
}
.section .deal .home .home-1 .sq,
.section .deal .home .home-2 .sq,
.section .deal .home .home-3 .sq
{
      padding: 12px 25px;
      font-size: 15px;
      border: 1px solid rgb(206, 206, 206);
      border-top: none;
      background-color: #F7F8FA;
}
.section .feature .Properties
{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     width: 90%;
     margin: auto;
}
.section .feature .Properties .pro
{
      display: grid;
      grid-template-columns:  1fr 2fr
}
.section .feature .Properties .pro div img
{
      width: 200px;
      height: 100%;
}
